---
---

<nav
  class="absolute inset-x-0 top-0 z-[2] rounded bg-transparent px-2 py-2.5 sm:px-4"
>
  <div class="container mx-auto flex flex-wrap items-center justify-between">
    <a href="/" class="flex items-center">
      <img src="/logo.png" class="mr-3 h-6 sm:h-9" alt="coachstar Logo" />
    </a>
    <button
      type="button"
      class="mobile-menu-button ml-3 inline-flex items-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 md:hidden"
    >
     
      <svg
        class="h-6 w-6"
       
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"></path>
      </svg>
    </button>
    <div class="mobile-menu hidden w-full md:block md:w-auto">
      <ul
        class="mt-4 flex flex-col rounded-lg border p-4 md:mt-0 md:flex-row md:space-x-8 md:border-0 md:text-sm md:font-medium"
      >
        <li>
          <a
            href="#"
            class="block rounded bg-blue-700 py-2 pl-3 pr-4 text-white md:bg-transparent md:p-0 md:text-blue-700"
            aria-current="page">Home</a
          >
        </li>
        <li>
          <a
            href="#features"
            class="block rounded py-2 pl-3 pr-4 text-[#b8b8b8] hover:bg-gray-100 md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-blue-700"
            >Features</a
          >
        </li>
        <li>
          <a
            href="#testimonials"
            class="block rounded py-2 pl-3 pr-4 text-[#b8b8b8] hover:bg-gray-100 md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-blue-700"
            >Testimonials</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block rounded py-2 pl-3 pr-4 text-[#b8b8b8] hover:bg-gray-100 md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-blue-700"
            >Pricing</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block rounded py-2 pl-3 pr-4 text-[#b8b8b8] hover:bg-gray-100 md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-blue-700"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<script>
  const btn = document.querySelector("button.mobile-menu-button");
  const menu = document.querySelector(".mobile-menu");

  btn.addEventListener("click", () => {
    menu.classList.toggle("hidden");
  });
</script>
