---
import { TESTIMONIAL } from "../config";


---

<div
  id="testimonials"
  class="container mx-auto mt-4 flex w-full flex-col items-center justify-center p-6 text-center overflow-hidden xl:px-0  "
>
  <div class="text-sm font-bold uppercase tracking-wider text-blue-600 aos-animate" data-aos="fade-left" data-aos-delay="50" >
    Testimonials
  </div>
  <h2
    class="mt-3 max-w-2xl text-3xl font-bold leading-snug tracking-tight text-gray-800 lg:text-4xl lg:leading-tight aos-animete" data-aos="fade-right" data-aos-delay="150" data-aos-duration="1000"
  >
    Here&#x27;s what our customers said
  </h2>
  <p
    class="max-w-2xl py-4 text-lg leading-normal text-gray-500 lg:text-xl xl:text-xl"
  >
    Testimonails Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel
    dolorem necessitatibus officiis sapiente similique. Totam harum deleniti
    beatae soluta.
  </p>
</div>

<div class="container mx-auto mb-10 p-6 xl:px-24">
  <div class="grid gap-10 grid-cols-1 aos-animate" data-aos="fade-up" data-aos-delay="0" data-aos-duration="500">
    
{
  TESTIMONIAL.data.map((item) =>(
  <div class="py-6 md:py-12">
        <div
          class="flex h-full w-full flex-col justify-between rounded-2xl bg-gray-200 px-6 py-6 md:px-14 md:py-14"
        >
          <p class="text-2xl leading-normal">
            {item.description}
          </p>
          <div class="mt-8 flex items-center space-x-3">
            <div class="max-h-[56px] max-w-[56px] w-auto h-auto flex-shrink-0 rounded-full">
              <img
                alt="Avatar"
                src={item.image}
                loading="lazy"
              />
            </div>
            <div>
              <div class="text-lg font-medium">{item.name}</div>
            </div>
          </div>
        </div>
      </div>

  ))
}
  </div>
</div>
<script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script is:inline>
    AOS.init();
  </script>
