---
import "../assets/base.css";
import { SITE } from "../config";
import BaseHead from "../components/BaseHead.astro";
import Testimonials from "../components/Testimonials.astro";
import Features from "../components/Features.astro";
import NavBar from "../components/NavBar.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE.title}
      description={SITE.description}
      image={SITE.image}
    />
  </head>
  <body>
    <NavBar />
    <slot />

    <Features />
    <Testimonials />
    <script>
      import Swiper from "swiper";
      const swiper = new Swiper(".mySwiper", {
        centeredSlides: true,
        autoplay: {
          delay: 2500,
          disableOnInteraction: false,
        },
      });
    </script>
  </body>
</html>
